kbd {
    background-color: #fff;
    color: #000;
    border: 1px solid gray;
}

.buying-qty,
.qty,
.coins {
    min-width: 6ch;
    width: 6ch;
    text-align: center;
}

.character {
    min-width: 8ch;
    width: 12ch;
}
