@font-face {
    font-family: 'Maplestory';
    src: url('assets/fonts/Maplestory Light.woff2') format('woff2'),
        url('assets/fonts/Maplestory Light.ttf') format('truetype');
    font-display: fallback;
    font-weight: normal;
}

@font-face {
    font-family: 'Maplestory';
    src: url('assets/fonts/Maplestory Bold.woff2') format('woff2'),
        url('assets/fonts/Maplestory Bold.ttf') format('truetype');
    font-display: fallback;
    font-weight: bold;
}

$font-family-sans-serif: 'Maplestory';

input {
    border: none;
    outline: none;
    background: rgba(1, 1, 1, 0.05);
    border-radius: 4px;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';

@import './global.scss';
