.wrapper {
    position: relative;
    overflow: auto;
    height: 80vh;
}

.item-cart-row {
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

.coin-name {
    min-width: 8ch;
    width: fit-content;
}

.item-name {
    min-width: 16ch;
}

.qty,
.coins {
    min-width: 6ch;
    width: 6ch;
    text-align: center;
}

.exchangable,
.per-character {
    min-width: 4ch;
    text-align: center;
}

.character {
    min-width: 8ch;
    width: 12ch;
}
