@font-face {
    font-family: 'Maplestory';
    src: url('/fonts/Maplestory Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Maplestory';
    src: url('/fonts/Maplestory Bold.ttf');
    font-weight: bold;
}

$font-family-sans-serif: 'Maplestory';

input {
    border: none;
    outline: none;
    background: rgba(1, 1, 1, 0.05);
    border-radius: 4px;
}

@import './global.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
